.embla {
  width: 100%;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: -0.75rem;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  padding-left: 0.75rem;
}
